#contentBox{padding-top: 130px;
h2{width: 200px; 
	height: auto;
	font-size: 35px; 
	text-align: center;
	margin: 20px auto;}
.snsLink{width: 100%; height: auto; margin: 15px 0 30px; text-align: center;
 li{display:inline-block; position:relative;
  width: auto; height: auto;
  margin-right: 20px; font-size: 1.1rem;
 &:after,&::after{content: " "; position: absolute; right: -12px; 
  top:0; bottom: 0; margin: auto;
  width: 0; height: 60%; border-left: 2px solid #333;}
 &.action>a{color:nth($mc,1); font-weight: bold; font-size: 1.2rem;}
 &:last-child{margin-right: 0;
  &:after,&::after{display: none;}}}}
.snsLink a:hover{font-weight: bold; outline: none;}
.snsLink a:focus{font-weight: bold; outline: none; font-size: 1.2rem;}
/* 이벤트 ============*/
#eventBox{width: 100%; height: auto;
.event_box{
	width: 100%; height: 500px; 
	box-sizing:border-box;}
h4.ing{position:relative; z-index: 300; width: 850px; height: 40px; margin: auto;
	/* margin-bottom: 10px; */ transform:rotate(-3deg);
	font-size: 1.3rem; line-height: 35px;
span{display: block; width: 250px; height: 100%;
	text-align: center; border-radius: 5px;
	color: #fff; border: 2px dashed #fff;
	box-sizing:border-box;
	background-color: #333;}}}

#eventIng{
.slide_wrap{position: relative; 
	width: 800px; height: 400px; margin: auto;
.eventbtn{position: absolute; top: 0; bottom: 0;
	z-index: 100;
	margin: auto; width: 800px; height: 0;
 button{float:left; width: 50px; height: 50px;
 	transform:translateY(-50%);
 	border-radius: 30px; font-size: 3rem; text-indent: 3px;}
 .next{float: right; margin-right: -25px;}
 .prev{margin-left: -25px;text-indent: -2px;}}}
// .slide_long{position:relative;}
.slide_cen{overflow: hidden; 
	width: 100%; height: 100%;
	box-shadow: 0 0 5px #333;
	/* border: 5px solid #555; */}
.slide_box{overflow: hidden; 
	width: 800px; height: 400px;
	/* border-radius: 0 12%; */ 
 .img_area{float:left; width: 50%; height: 100%;
 	padding: 10px; box-sizing:border-box;
 	.img{display: block; width: 100%; height: 100%;
 	// box-shadow: 5px 5px 5px #333;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: 50% 50%;
 	background-image: url('../img/event/event.png');}}
 .text_area{float: left; width: 50%; height: 100%;
 	padding: 30px 40px; box-sizing:border-box;
  p{width: 100%; height: 30px; margin-bottom: 30px;}
  dl{width: 100%; height: 240px;
   dt{width: 100%; height: 50px; font-weight: bold;
   	font-size:1.2rem;}}
  a{display: block; float: right; 
  	padding: 2px 10px; border-radius: 5px;
  	border: 2px solid #333;
    }}}}

#events{padding: 30px 450px; box-sizing: border-box;}
.evnetlink{width: 100%; height: auto; margin: 15px 0 30px; text-align: left;
 li{display:inline-block; position:relative;
  width: auto; height: auto;
  margin-right: 20px; font-size: 1.1rem;
 &:after,&::after{content: " "; position: absolute; right: -12px; 
  top:0; bottom: 0; margin: auto;
  width: 0; height: 60%; border-left: 2px solid #333;}
 &.action>a{color:nth($mc,1); font-weight: bold; font-size: 1.2rem;}
 &:last-child{margin-right: 0;
  &:after,&::after{display: none;}}}}
.evnetlink a:hover{font-weight: bold; outline: none;}
.evnetlink a:focus{font-weight: bold; outline: none; font-size: 1.2rem;}

 
/* 고객센터 ============*/
$url: '../img/';
#servBox{display: none;}

fieldset:nth-of-type(1){padding-bottom: 25px;
	border-bottom: 2px dashed #ddd;}

#servBox{width: 80%; height: auto; margin: auto;
form{width: 100%; height: auto;}
.all_check{height: 30px; text-align: center;
	font-size: 1.2rem; font-weight: bold; 
	text-decoration: underline;}}

.check{width: 100%; height: 260px; margin-bottom: 50px;
 dl{width: 80%; height: 100%; margin: auto;
	/* border-top: 2px solid #ddd; */}
 dt{margin: auto; text-align: center; font-size: 1.2rem;
	margin-bottom: 20px; margin-top: 30px; font-weight: bold;
  strong{font-size: 1rem;}
  em{font-style: normal; font-size: 1rem;}}
 dd.cont{overflow-x:auto; 
	width: 100%; height: 150px;
	padding: 10px; box-sizing:border-box;
	// border-radius: 10px;
	border:1px solid #ddd; 
	background-color: #fff;}}

.select_check{height: 190px;}
.require_check dl{border-bottom: 2px dashed #ddd;}
.check .send dd.cont{height: 100px;}
.check dd.agree{width: 100%; height: 10px; margin: 10px 0;
	text-align: right;}

/* 각각의 동의 체크시 */
.check i {font-size: 1.3rem; cursor: pointer;
	color: #aaa;}
.check>input:focus+dl i,
.check>input:checked+p i{color: #333; }
.check>input:checked+dl i,
.check>input:checked+p i{color: #f00;}

.check>input{overflow: hidden;
	position: absolute; z-index: 0;
	width: 0; height: 0; border: 0;}

.input_area legend{position: static; 
	width: auto; height: auto;
	margin: 30px 0; padding-top: 30px;
	text-align: center; font-size: 1.5rem;
	font-weight: bold;}

.input_area{width: 100%; height: auto; min-height: 200px;
 ul{width: 50%; height: auto; margin: auto;
  li{width: 100%; height: auto; margin-bottom: 10px;}}
  dl{width: 100%; height: 46px; line-height: 46px;
   dt{float: left; width: 30%; height: 100%;
	box-sizing:border-box; text-indent: 2vw}
   dd{ float: left; 
   	border: 1px solid #ddd;
   	box-sizing: border-box;
	width:70%; height: 100%; 
	input{width: 100%; height: 100%; border: 0; 
	background-color:#fff;}}}}
li.error dd input{outline: 2px solid #f00;}
li.error dd textarea{outline: 2px solid #f00;}
li>span {display: none; }
li.error>span {display: block;	width: 70%; height: 25px;
	margin-left: 30%; margin-top: 5px; }
.input_area>ul>li.cont>dl{height: 300px;}
textarea{display: block; 
	width: 100%; height: 100%; border: 1px solid #ddd;
	font-size: 1.3rem; text-indent: 8px;}
.input_area ul li:nth-child(2) dl dd {border: none;
	position:relative;
 &:before,&::before{content: " "; position:absolute; 
 	left: 31.25%; top: 0; bottom: 0; margin: auto;
 	width: 8px; height: 3px; background-color: #777;}
 &:after,&::after{content: " "; position:absolute; 
 	right: 31.25%; top: 0; bottom: 0; margin: auto;
 	width: 8px; height: 3px; background-color: #999;}
 & input{float: left; 
	width: 30%; margin-right: 5%; border: 1px solid #ddd;}
 & input:last-of-type{margin-right: 0;}}

fieldset:last-of-type{width: 280px; height: auto; min-height: 50px;
	padding: 30px 0 50px; margin: auto;
 input{width: 130px; height: 40px; text-indent: -2px;
	color: #fff; border: 0; font-size: 1.3rem;}}
fieldset:last-of-type>input:hover{outline: 3px solid #333;
	font-weight: bold;}
fieldset:last-of-type>input:focus{background-color: #f00;}
input[type="reset"] {float: left; background-color: #999;}
input[type="submit"] {float: right; background-color: #333;}}



/* 미디어 ============*/
#mediaBox{display: none; width: 80%; height: auto; margin: auto;}
.md_area{width: 100%; height: 200px; margin-bottom: 50px;
	/* border-top: 2px solid #ddd; */ 
	/* border-bottom: 2px solid #ddd;  */box-sizing: border-box;
	a{display: block; width: 100%; height: 100%; 
		background-position: 50% 50%; background-size: cover;
		background-repeat: no-repeat;}}
.ytbMd{margin-bottom: 80px}
#mediaBox h4{position: relative;
	width: 95%; height: 40px; margin: auto; margin-bottom: 10px;
	line-height: 40px; font-weight:bold; font-size: 2rem; 
	text-transform: uppercase; /* padding-bottom: 5px; */
	/* border-bottom: 2px solid #ddd; */
 &:first-letter{font-size: 2.8rem; color: #f00;}
 &:nth-of-type(2n){text-align: right;}
	a{margin-left: 10px; margin-right: 20px;
		&:hover{font-size: 2.3rem;}
		&:focus{outline: 0; font-size: 2.3rem; color:#f00;}}}

.md_area .md_wrap{width: 100%; height: 100%; text-align: center;
	padding: 10px 0; border-top: 2px solid #ddd;
	li{display: inline-block; width: 17%; max-width: 250px;
		height: 100%; margin-right: 2%;
	&:last-child{margin-right: 0;}}}

.md_area:nth-of-type(2n-1) .md_wrap{border-right: 2px solid #ddd;}
.md_area:nth-of-type(2n) .md_wrap{border-left: 2px solid #ddd;}

$url: '../img/media/';
.picMd>ul>li:nth-child(1) a{background-image: url($url+'pic_01.jpg');}
.picMd>ul>li:nth-child(2) a{background-image: url($url+'pic_02.jpg');}
.picMd>ul>li:nth-child(3) a{background-image: url($url+'pic_03.jpg');}
.picMd>ul>li:nth-child(4) a{background-image: url($url+'pic_04.jpg');}
.picMd>ul>li:nth-child(5) a{background-image: url($url+'pic_05.jpg');}
.vdMd>ul>li:nth-child(1) a{background-image: url($url+'pic_06.jpg');}
.vdMd>ul>li:nth-child(2) a{background-image: url($url+'pic_07.jpg');}
.vdMd>ul>li:nth-child(3) a{background-image: url($url+'pic_08.jpg');}
.vdMd>ul>li:nth-child(4) a{background-image: url($url+'pic_09.jpg');}
.vdMd>ul>li:nth-child(5) a{background-image: url($url+'pic_10.jpg');}
.instaMd>ul>li:nth-child(1) a{background-image: url($url+'pic_11.jpg');}
.instaMd>ul>li:nth-child(2) a{background-image: url($url+'pic_12.jpg');}
.instaMd>ul>li:nth-child(3) a{background-image: url($url+'pic_13.jpg');}
.instaMd>ul>li:nth-child(4) a{background-image: url($url+'pic_14.jpg');}
.instaMd>ul>li:nth-child(5) a{background-image: url($url+'pic_15.jpg');}
.fbMd>ul>li:nth-child(1) a{background-image: url($url+'pic_16.jpg');}
.fbMd>ul>li:nth-child(2) a{background-image: url($url+'pic_17.jpg');}
.fbMd>ul>li:nth-child(3) a{background-image: url($url+'pic_18.jpg');}
.fbMd>ul>li:nth-child(4) a{background-image: url($url+'pic_19.jpg');}
.fbMd>ul>li:nth-child(5) a{background-image: url($url+'pic_20.jpg');}
.ytbMd>ul>li:nth-child(1) a{background-image: url($url+'pic_21.jpg');}
.ytbMd>ul>li:nth-child(2) a{background-image: url($url+'pic_22.jpg');}
.ytbMd>ul>li:nth-child(3) a{background-image: url($url+'pic_23.jpg');}
.ytbMd>ul>li:nth-child(4) a{background-image: url($url+'pic_24.jpg');}
.ytbMd>ul>li:nth-child(5) a{background-image: url($url+'pic_25.jpg');}


/* .move_bubble{position: fixed; width: 100%; height: 0; bottom:200px; z-index: -1; 
  .bub{position:fixed; bottom:-100px; background-color: #f00; border-radius:100%;}
}

@keyframes bubble {
  50%{transform:translateX(-40%) scale(0.6)}
  80%{transform:translateX(20%) scale(0.4)}
  100%{bottom:100%; transform:scale(0.2); opacity: 0.2;}
} */