#contentBox{padding-top: 80px;}
h2{width: 200px; 
	height: auto;
	font-size: 35px; 
	text-align: center;
	margin: 20px auto;}
.snsLink{width: 100%; height: auto; margin: 15px 0 30px; text-align: center;
 li{display:inline-block; position:relative;
  width: auto; height: auto;
  margin-right: 20px; font-size: 1.1rem;
 &:after,&::after{content: " "; position: absolute; right: -12px; 
  top:0; bottom: 0; margin: auto;
  width: 0; height: 60%; border-left: 2px solid #333;}
 &.action>a{color:nth($mc,1); font-weight: bold; font-size: 1.2rem;}
 &:last-child{margin-right: 0;
  &:after,&::after{display: none;}}}}
.stLink a:hover{font-weight: bold; outline: none;}

#eventBox{width: 100%; height: auto;
	.event_box{width: 100%; height: 70vh;
	padding: 50px 500px; box-sizing:border-box;}
	h4{width: 240px; height: 40px;
	font-size: 1.5rem;}}
#event_ing{background-color: #fee;
.slide_box{width: 100%; height: 80%;
	background-color: #efe;}}
#event_end{
	background-color: #e8f;}

#servBox{display: none;}
#mediaBox{display: none;}