// s_03_tv.scss

/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) h:900 */
@media screen and (min-width: 1920px) {

.stbox{
 ul{
  li{width: (100%-8)/5; height: 280px; 
  	margin: 0 2% 20px 0;
  	&:nth-child(3n){margin-right: 2%;} 
    &:nth-child(5n){margin-right: 0;}}}}

    
} //media screen