@charset "UTF-8";
/* main.css */
/* 공통 =============== */
#wrap { width: 100%; height: auto; margin: auto; }

.box_size { width: 100%; height: 100vh; min-height: 800px; padding: 100px 0; box-sizing: border-box; }

.box_title { width: 50%; height: auto; margin: 0 auto 10px; font-size: 35px; text-align: center; text-transform: uppercase; }

.box_text { width: 80%; min-width: 350px; height: auto; margin: auto; font-size: 18px; font-size: 1.125rem; text-align: center; word-break: keep-all; }

.more_btn { display: block; width: 150px; height: 30px; margin: auto; margin-top: 30px; border-radius: 5px; background-color: #888; text-align: center; line-height: 29px; color: #fff; }

/* 공통 // headBox 해더박스 ================== */
#headBox { position: fixed; z-index: 500; top: 0; left: 0; width: 100%; height: 80px; background-color: #f00; }

#headBox:after, #headBox::after { display: none; }

#headBox.act:after, #headBox.act::after { content: " "; display: block; position: absolute; top: 80px; left: 0; z-index: 1; width: 100vw; height: 0; border-bottom: 1px solid #fff; }

.head_area { width: 100%; height: 100%; min-width: 250px; margin: auto; padding: 20px 30px; box-sizing: border-box; background-color: #f00; }

h1 { float: left; width: 130px; height: 40px; background: url(../../img/mobile/logo_mobile.gif) no-repeat 50% 50%/cover; }

h1 > a { display: block; width: 100%; height: 100%; }

.gnb_cp { float: right; width: 45px; height: 40px; }

.search_open, .search_close { float: right; width: 45px; height: 40px; font-size: 2.5rem; background-color: transparent; text-align: center; line-height: 40px; color: #fff; }

.search_close { display: none; }

.open_btn { display: block; position: relative; width: 100%; height: 100%; }

.open_btn button { width: 100%; height: 100%; background-color: transparent; }

.navList { position: absolute; top: 0; left: 75px; right: 0; margin: auto; background-color: #f00; width: 700px; height: auto; }

.navList:before, .navList::before { content: " "; display: block; position: absolute; z-index: -1; top: 0; left: 50%; margin-left: -60vw; width: 120vw; height: 100%; background-color: inherit; }

.navList:after, .navList::after { content: " "; display: block; width: 0; height: 0; clear: both; }

.navList > li { float: left; width: 23%; height: auto; margin: 0 5px; }

.navList > li > dl { width: auto; height: auto; }

.navList > li > dl > dt { width: auto; height: auto; }

.navList > li > dl > dt > a { display: block; width: 100%; height: 80px; line-height: 80px; text-align: center; font-size: 1.4rem; font-weight: bold; color: #fff; }

.navList > li > dl > dt > a:hover, .navList > li > dl > dt > a:focus { color: #ff0; }

.navList > li > dl > dd { display: none; width: auto; margin: 20px 0; }

.navList > li > dl > dd > a { display: block; width: auto; height: 40px; text-indent: 45px; color: #fff; margin-top: 5px; line-height: 40px; }

.navList > li > dl > dd > a:hover, .navList > li > dl > dd > a:focus { color: #ff0; }

.search_box { display: none; position: absolute; top: 80px; left: 0; right: 0; width: 100%; height: 80px; margin: auto; padding: 20px; box-sizing: border-box; background-color: white; }

.search_box fieldset { width: 60%; height: 40px; margin: auto; padding: 2px; /* box-sizing:border-box; */ background-color: #fff; }

.search_box #siteName { float: left; width: 15%; height: 40px; margin-right: 2%; text-indent: 8px; font-size: 1.5rem; }

.search_box #searchBar { float: left; width: 75%; height: 40px; font-size: 1.5rem; }

.search_box .search_icon { float: right; width: 5%; height: 40px; background-color: transparent; color: #f00; font-size: 2.5rem; }

.gnb_cp .burgur { position: absolute; top: 50%; left: 0; width: 100%; height: 8px; transform: translate(0, -50%); border-radius: 4px; background-color: white; }

.gnb_cp .burgur:before, .gnb_cp .burgur::before, .gnb_cp .burgur:after, .gnb_cp .burgur::after { content: " "; position: absolute; left: 0; width: 100%; height: 8px; border-radius: 4px; background-color: white; transition: all 800ms ease; }

.gnb_cp .burgur:before, .gnb_cp .burgur::before { top: -16px; }

.gnb_cp .burgur:after, .gnb_cp .burgur::after { top: 16px; }

.gnb_cp .open_btn > .act, .gnb_cp .close_btn > .act { background-color: rgba(255, 255, 255, 0); }

.gnb_cp .open_btn > .act:before, .gnb_cp .open_btn > .act::before, .gnb_cp .close_btn > .act:before, .gnb_cp .close_btn > .act::before { top: 0; transform: rotate(45deg); }

.gnb_cp .open_btn > .act:after, .gnb_cp .open_btn > .act::after, .gnb_cp .close_btn > .act:after, .gnb_cp .close_btn > .act::after { top: 0; transform: rotate(-45deg); }

.close_btn { position: relative; width: 50px; height: 50px; float: right; }

.close_btn button { width: 100%; height: 100%; background-color: transparent; }

.all_gnb { display: none; position: absolute; top: 0; right: 0; margin: auto; padding: 20px; box-sizing: border-box; width: 60%; height: 100vh; background-color: rgba(51, 51, 51, 0.9); }

.nav_site { width: 150px; height: 100%; margin: auto; padding: 10px 10vw; }

.nav_site .btn_nav { width: 100%; height: 100%; margin-top: 50px; }

.nav_site .btn_nav li { width: 100%; }

.nav_site .btn_nav li dl { width: 100%; }

.nav_site .btn_nav li dl dt { width: 100%; font-size: 1.5rem; margin-top: 10px; border-bottom: 2px solid #fff; }

.nav_site .btn_nav li dl dt a { display: block; color: #fff; }

.nav_site .btn_nav li dl dd { width: 100%; }

.nav_site .btn_nav li dl dd a { display: block; width: 100%; height: 100%; color: #fff; font-size: 1rem; text-indent: 10px; }

/* 공통 // adBox 광고박스 ================== */
#contentBox { width: 100%; height: auto; background-color: #ddd; }

#adBox { position: relative; width: 100%; height: 100vh; margin-top: 80px; background-color: #999; }

.arrow { position: absolute; z-index: 300; top: 0; bottom: 0; margin: auto; transform: translateY(-50%); width: 80px; height: 80px; }

.arrow > button { width: 100%; height: 100%; padding: 0; background-color: #fff; border-radius: 100%; }

.arrow > button > i { width: 100%; height: 100%; font-size: 4rem; line-height: 80px; text-align: center; color: #999; }

.next_btn { right: 10%; }

.prev_btn { left: 10%; }

/* 공통 // brandBox 제품소개&브랜드박스 ================== */
#brandBox { background-color: #ddd; }

.brand_area { /* overflow: hidden; */ width: 100%; height: 55vh; margin-top: 60px; }

.brand_box { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: auto; height: auto; }

.brand_box > li { float: left; width: 200px; height: 340px; transform: scale(1); margin: 0 20px; background-color: #fff; }

.brand_box > li button { display: block; width: 50px; height: 50px; margin: auto; margin-top: 140%; background-color: #777; border-radius: 10px; }

/* 공통 // storyBox 스토리박스 ================== */
#storyBox { position: relative; background-color: #bbb; }

.story_area { position: absolute; top: 50%; left: 0; right: 0; margin: auto; transform: translateY(-50%); width: 90%; height: auto; overflow: hidden; }

.story_link { width: 100%; height: auto; margin-bottom: 30px; text-align: center; }

.story_link li { display: inline-block; position: relative; width: auto; height: auto; margin-right: 20px; }

.story_link li:after, .story_link li::after { content: " "; position: absolute; right: -12px; top: 0; bottom: 0; margin: auto; width: 0; height: 60%; border-left: 2px solid #333; }

.story_link li:last-child { margin-right: 0; }

.story_link li:last-child:after, .story_link li:last-child::after { display: none; }

.cs_wrap { width: 100%; height: auto; }

.cs_wrap > dt { display: none; }

.cs_wrap > dd { float: left; width: 32%; height: 400px; margin-right: 2%; background-color: #888; }

.cs_wrap > dd:last-child { margin-right: 0; }

/* 공통 // companyBox 회사정보&컴파니박스 ================== */
#companyBox { position: relative; background-color: #aaa; }

.conts_wrap { position: absolute; top: 60%; left: 0; right: 0; margin: auto; transform: translateY(-50%); width: 80%; height: auto; }

.company_area { width: 100%; height: auto; }

.company_area > li { float: left; position: relative; width: 30%; height: 250px; margin-right: 5%; }

.company_area > li:last-child { margin-right: 0; }

.company_area > li > a.act { transition: all 1000ms ease; border-radius: 100%; }

.company_area > li > a.act > span { line-height: 18px; width: 100px; height: auto; padding: 10px 30px; }

.company_area > li > a { display: block; width: 100%; height: 100%; background-color: #eee; }

.company_area > li > a > span { display: block; position: absolute; top: 50%; transform: translateY(-50%); right: 0; left: 0; margin: auto; width: 100%; height: 100%; background-color: rgba(51, 51, 51, 0.6); text-align: center; line-height: 250px; color: #fff; font-size: 25px; }

/* 공통 // snsBox SNS박스 ================== */
#snsBox { overflow: hidden; background-color: #999; }

.sns_area { width: 70%; height: 70%; position: relative; margin: auto; margin-top: 50px; }

.sns_area ul { width: auto; height: auto; }

.sns_area ul li { position: absolute; width: 24%; height: 45%; background-color: #f03; background-color: #ccc; }

.sns_area ul li:nth-child(1) { top: 0; left: 0; }

.sns_area ul li:nth-child(2) { bottom: 0; left: 0; }

.sns_area ul li:nth-child(3) { width: 48%; height: 100%; top: 0; right: 0; left: 0; margin: auto; }

.sns_area ul li:nth-child(3) dt { top: -30px; width: 60px; height: 60px; }

.sns_area ul li:nth-child(4) { top: 0; right: 0; }

.sns_area ul li:nth-child(5) { bottom: 0; right: 0; }

.sns_area ul li a { display: block; width: 100%; height: 100%; }

.sns_area ul li a dl { position: relative; width: 100%; height: 100px; }

.sns_area ul li a dl dt { position: absolute; top: -25px; left: 0; right: 0; margin: auto; width: 50px; height: 50%; background-color: #e3d; border-radius: 100%; }

/* 공통 // footBox 풋박스 ================== */
#footBox { position: relative; width: 100%; height: auto; padding: 20px 0; background-color: #f00; }

#footBox:before { content: " "; position: absolute; left: 0; top: -33px; width: 100%; height: 42px; background: url(../img/background/footbox_bg.png) repeat-x 50% 50%/auto 61%; }

.foot_area { width: 100%; max-width: 1000px; height: auto; margin: auto; }

.link_area { width: auto; height: auto; padding-top: 10px; box-sizing: border-box; text-align: center; }

.link_area > li { display: inline-block; position: relative; margin-right: 15px; }

.link_area > li:last-child { margin-right: 0; }

.link_area > li:before, .link_area > li::before { content: " "; position: absolute; top: 0; bottom: 0; left: -10px; margin: auto; width: 0; height: 70%; border-right: 2px solid #fff; }

.link_area > li:first-child:before, .link_area > li:first-child::before { display: none; }

.link_area > li > a { display: block; width: 100%; height: 100%; color: #fff; }

.foot_ls { width: 100%; height: auto; margin-top: 20px; }

.sns_link { width: auto; height: auto; margin: auto; text-align: center; }

.sns_link > li { display: inline-block; width: auto; height: auto; margin-right: 20px; padding: 2px 5px; }

.sns_link > li > a { display: block; overflow: hidden; width: 50px; height: 50px; background-color: #fff; border-radius: 100%; }

address { width: 100%; max-width: 1200px; height: auto; margin: auto; margin-top: 10px; }

address > p { width: 100%; height: auto; text-align: center; color: #fff; }

address > p br { display: none; }

/* 모바일 480px~767px (280) =============== */
/* media screen and (max-width:767px) */
@media screen and (max-width: 767px) { #wrap { min-width: 150px; overflow: hidden; }
  .box_text { font-size: 16px; font-size: 1rem; }
  .navList { display: none; }
  .search_open { display: none; }
  .more_btn { margin-top: 50px; }
  .box_size { padding: 25vw 0; }
  .brand_box > li { height: 300px; }
  .brand_box > li button { margin-top: 120%; }
  .cs_wrap dt { display: block; width: 100%; height: auto; margin-bottom: 20px; text-decoration: underline; }
  .cs_wrap dd { height: 150px; }
  .story_link { display: none; }
  .company_area { width: 100%; height: auto; }
  .company_area > li { position: relative; width: 100%; height: 110px; margin-bottom: 20px; }
  .company_area > li a span { line-height: 110px; }
  .sns_area { width: 70%; height: 80%; position: relative; margin: auto; margin-top: 50px; }
  .sns_area ul { width: auto; height: auto; }
  .sns_area ul li { position: absolute; width: 100%; height: 45%; background-color: #f03; background-color: #ccc; }
  .sns_area ul li:nth-child(3) { display: none; }
  .sns_area ul li:nth-child(4) { display: none; }
  .sns_area ul li:nth-child(5) { display: none; }
  .sns_area ul li a { display: block; width: 100%; height: 100%; }
  .sns_area ul li a dl { position: relative; width: 100%; height: 100px; }
  .sns_area ul li a dl dt { position: absolute; top: -25px; left: 0; right: 0; margin: auto; width: 50px; height: 50%; background-color: #e3d; border-radius: 100%; }
  address > p > br { display: block; } }

/* // media screen 모바일 */
/* 패드 768px~1279px =============== */
/* media screen and (min-width: 768px) and (max-width:1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) { .navList { display: none; }
  .search_open { display: none; }
  .company_area { width: 100%; height: auto; }
  .company_area > li { position: relative; left: 50%; transform: translateX(-50%); width: 80%; height: 180px; margin-bottom: 20px; }
  .company_area > li a span { line-height: 180px; }
  .sns_area { width: 70%; height: 80%; position: relative; margin: auto; margin-top: 50px; }
  .sns_area ul { width: auto; height: auto; }
  .sns_area ul li { position: absolute; width: 48%; height: 45%; background-color: #f03; background-color: #ccc; }
  .sns_area ul li:nth-child(3) { display: none; }
  .sns_area ul li a { display: block; width: 100%; height: 100%; }
  .sns_area ul li a dl { position: relative; width: 100%; height: 100px; }
  .sns_area ul li a dl dt { position: absolute; top: -25px; left: 0; right: 0; margin: auto; width: 50px; height: 50%; background-color: #e3d; border-radius: 100%; } }

/* PC 1280px~1919px (1024)=============== */
/* media screen and (min-width: 1280px) */
@media screen and (min-width: 1280px) { .gnb_cp { display: none; }
  .head_area { max-width: 1024px; }
  #brandBox > p { width: 30%; } }

/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) */
@media screen and (min-width: 1920px) { .head_area { max-width: 1280px; }
  .gnb_cp { display: none; }
  #brandBox > p { width: 20%; height: auto; } }
