// coke_01_pc.scss

/* PC 1280px~1919px (1024)=============== */
/* media screen and (min-width: 1280px) */
@media screen and (min-width: 1280px){
// #wrap
// #headBox
.gnb_cp{display: none;}
.head_area{max-width: 1024px; }
// #contentBox
// #adBox
// #brandBox
#brandBox>p{width: 30%;}
// #storyBox
.cs_wrap{
  &>dd{height: 350px;}}
// #companyBox
// #snsBox
// #footBox
// .sns_link{transform: translateX(-100%);}
}