// coke_01_pad.scss

/* 패드 768px~1279px =============== */
/* media screen and (min-width: 768px) and (max-width:1279px) */
@media screen and (min-width: 768px) and (max-width:1279px) {
// #wrap
// #headBox
 .navList{display: none;}
 .search_open{display: none;}
// #contentBox
// #adBox
// #brandBox

// #storyBox
.cs_wrap{
  &>dd{height: 300px;}}

// #companyBox
.company_area{width: 100%; height: auto; 
 &>li{position: relative; left: 50%; transform:translateX(-50%); 
	width: 80%; height: 180px; margin-bottom: 20px;
 & a span{line-height: 180px; }}}
 /* .company_area{width: 100%; height: auto; 
	&>li{
    float: left; position: relative;
		width: 30%; height: 250px; 
		margin-right: 5%;
   &:nth-child(1)>a{background: url($url + 'main/business.jpg') no-repeat 50% 50% / cover;}
   &:nth-child(2)>a{background: url($url + 'main/history.jpg') no-repeat 50% 50% / cover;}
   &:nth-child(3)>a{background: url($url + 'main/social.jpg') no-repeat 50% 50% / cover;}
   &:last-child{margin-right: 0;}
   &>a.act{transition:all 1000ms ease; border-radius: 100%;
   >span{line-height: 18px;
      width: 100px; height: auto; 
      padding: 10px 30px;}}
	 &>a{display:block; 
	 	width: 100%; height: 100%; @include bbg(2);
	 	>span{display:block; position: absolute; top:50%; transform: translateY(-50%);
      right:0; left:0; margin:auto;
      width: 100%; height: 100%;
      background-color: rgba(nth($mc, 4), 0.9);
      text-align: center; line-height: 250px; color: nth($mc,3);
      font-size:25px;}}}} */

// #snsBox
.sns_area{width: 70%; height: 80%;
  position:relative; margin: auto; margin-top: 50px;
 ul{width: auto; height: auto;
 li{position: absolute; width: 48%; height: 45%;
 &:nth-child(3){display: none;}
 a{display: block; width: 100%; height: 100%;
  dl{position:relative; width: 100%; height: 100px;
   dt{position:absolute; top: -25px; left: 0; right: 0; margin: auto;
    width: 50px; height: 50%; border-radius: 100%;}}}}}}
// #footBox
}