@charset "UTF-8";
/* 공통 // headBox 해더박스 ================== */
#headBox { position: fixed; z-index: 500; top: 0; left: 0; width: 100%; height: 80px; background-color: #f00; }

#headBox:after, #headBox::after { display: none; }

#headBox.act:after, #headBox.act::after { content: " "; display: block; position: absolute; top: 80px; left: 0; z-index: 1; width: 100vw; height: 0; border-bottom: 1px solid #fff; }

.head_area { width: 100%; height: 100%; min-width: 250px; margin: auto; padding: 20px 30px; box-sizing: border-box; background-color: #f00; }

h1 { float: left; width: 130px; height: 40px; }

h1 > a { display: block; width: 100%; height: 100%; background: url("../img/mobile/logo_mobile.gif") no-repeat 50% 50%/cover; }

h1 > a:hover, h1 > a:focus { transform: scale(1.1); outline: none; }

.gnb_cp { float: right; width: 45px; height: 40px; }

.search_open, .search_close { float: right; width: 45px; height: 40px; font-size: 2.5rem; background-color: transparent; text-align: center; line-height: 40px; color: #fff; }

.search_close { display: none; }

.open_btn { display: block; position: relative; width: 100%; height: 100%; }

.open_btn button { width: 100%; height: 100%; background-color: transparent; }

.navList { position: absolute; top: 0; left: 75px; right: 0; margin: auto; background-color: #f00; width: 700px; height: auto; }

.navList:before, .navList::before { content: " "; display: block; position: absolute; z-index: -1; top: 0; left: 50%; margin-left: -60vw; width: 120vw; height: 100%; background-color: inherit; }

.navList:after, .navList::after { content: " "; display: block; width: 0; height: 0; clear: both; }

.navList > li { float: left; width: 23%; height: auto; margin: 0 5px; }

.navList > li > dl { width: auto; height: auto; }

.navList > li > dl > dt { width: auto; height: auto; }

.navList > li > dl > dt.act a { color: #ff0; }

.navList > li > dl > dt > a { display: block; width: 100%; height: 80px; line-height: 80px; text-align: center; font-size: 1.4rem; font-weight: bold; color: #fff; }

.navList > li > dl > dt > a:hover, .navList > li > dl > dt > a:focus { color: #ff0; outline: none; }

.navList > li > dl > dd { display: none; width: auto; margin: 20px 0; outline: none; }

.navList > li > dl > dd > a { display: block; width: auto; height: 40px; text-indent: 45px; color: #fff; margin-top: 5px; line-height: 40px; }

.navList > li > dl > dd > a:hover, .navList > li > dl > dd > a:focus { color: #ff0; outline: none; }

#headBox button:hover { background-color: transparent; transform: scale(1.1); }

#headBox button:focus { outline: none; transform: scale(1.1); }

.search_box { display: none; position: absolute; top: 80px; left: 0; right: 0; width: 100%; height: 80px; margin: auto; padding: 20px; box-sizing: border-box; background-color: white; }

.search_box fieldset { width: 60%; height: 40px; margin: auto; padding: 2px; /* box-sizing:border-box; */ background-color: #fff; }

.search_box #siteName { float: left; width: 15%; height: 40px; margin-right: 2%; text-indent: 8px; font-size: 1.5rem; }

.search_box #searchBar { float: left; width: 75%; height: 40px; font-size: 1.5rem; }

.search_box .search_icon { float: right; width: 5%; height: 40px; background-color: transparent; color: #f00; font-size: 2.5rem; }

.gnb_cp .burgur { position: absolute; top: 50%; left: 0; width: 100%; height: 8px; transform: translate(0, -50%); border-radius: 4px; background-color: white; }

.gnb_cp .burgur:before, .gnb_cp .burgur::before, .gnb_cp .burgur:after, .gnb_cp .burgur::after { content: " "; position: absolute; left: 0; width: 100%; height: 8px; border-radius: 4px; background-color: white; transition: all 800ms ease; }

.gnb_cp .burgur:before, .gnb_cp .burgur::before { top: -16px; }

.gnb_cp .burgur:after, .gnb_cp .burgur::after { top: 16px; }

.gnb_cp .open_btn > .act, .gnb_cp .close_btn > .act { background-color: rgba(255, 255, 255, 0); }

.gnb_cp .open_btn > .act:before, .gnb_cp .open_btn > .act::before, .gnb_cp .close_btn > .act:before, .gnb_cp .close_btn > .act::before { top: 0; transform: rotate(45deg); }

.gnb_cp .open_btn > .act:after, .gnb_cp .open_btn > .act::after, .gnb_cp .close_btn > .act:after, .gnb_cp .close_btn > .act::after { top: 0; transform: rotate(-45deg); }

.close_btn { position: relative; width: 50px; height: 50px; float: right; }

.close_btn button { width: 100%; height: 100%; background-color: transparent; }

.close_btn:hover { transform: scale(1.1); }

.all_gnb { display: none; position: absolute; top: 0; right: 0; margin: auto; padding: 20px; box-sizing: border-box; width: 60%; height: 100vh; background-color: rgba(51, 51, 51, 0.9); }

.nav_site { width: 150px; height: 100%; margin: auto; padding: 10px 10vw; }

.nav_site .btn_nav { width: 100%; height: 100%; margin-top: 50px; overflow: auto; }

.nav_site .btn_nav li { width: 100%; }

.nav_site .btn_nav li dl { width: 100%; }

.nav_site .btn_nav li dl dt { width: 100%; font-size: 1.5rem; margin-top: 10px; border-bottom: 2px solid #fff; }

.nav_site .btn_nav li dl dt a { display: block; color: #fff; }

.nav_site .btn_nav li dl dd { width: 100%; }

.nav_site .btn_nav li dl dd a { display: block; width: 100%; height: 100%; color: #fff; font-size: 1rem; text-indent: 10px; }

.btn_nav a:hover { outline: none; }

.btn_nav a:focus { color: #ff0; }

/* 모바일 480px~767px (280) h:640 =============== */
/* media screen and (max-width:767px) */
@media screen and (max-width: 767px) { #wrap { min-width: 150px; }
  .box_text { font-size: 16px; font-size: 1rem; }
  .navList { display: none; }
  .search_open { display: none; }
  .more_btn { margin-top: 50px; }
  .cp { display: block; } }

/* // media screen 모바일 */
/* 패드 768px~1279px  h:1024 =============== */
/* media screen and (min-width: 768px) and (max-width:1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) { .navList { display: none; }
  .search_open { display: none; } }

/* PC 1280px~1919px (1024) h:800=============== */
/* media screen and (min-width: 1280px) */
@media screen and (min-width: 1280px) and (max-width: 1919px) { .gnb_cp { display: none; }
  .head_area { max-width: 1024px; } }

/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) h:900 */
@media screen and (min-width: 1920px) { .head_area { max-width: 1280px; }
  .gnb_cp { display: none; } }
