/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) */
@media screen and (min-width: 1920px) { /* line 8, scss/src/coke_01_tv.scss */ .head_area { max-width: 1280px; }
  /* line 9, scss/src/coke_01_tv.scss */ .gnb_cp { display: none; }
  /* line 13, scss/src/coke_01_tv.scss */ #brandBox > p { width: 20%; height: auto; } }
