@charset "UTF-8";
/* 모바일 480px~767px (280) =============== */
/* media screen and (max-width:767px) */
@media screen and (max-width: 767px) { /* line 6, scss/src/coke_01_mobile.scss */ #wrap { min-width: 150px; overflow: hidden; }
  /* line 7, scss/src/coke_01_mobile.scss */ .box_text { font-size: 16px; font-size: 1rem; }
  /* line 8, scss/src/coke_01_mobile.scss */ .navList { display: none; }
  /* line 12, scss/src/coke_01_mobile.scss */ .box_size { padding: 25vw 0; }
  /* line 13, scss/src/coke_01_mobile.scss */ .brand_box { overflow: hidden; padding: 2vh; }
  /* line 14, scss/src/coke_01_mobile.scss */ .brand_box > li { width: 40vw; height: 70vw; margin-top: 8vw; }
  /* line 15, scss/src/coke_01_mobile.scss */ .brand_box > li:nth-child(1) { display: none; }
  /* line 16, scss/src/coke_01_mobile.scss */ .brand_box > li:nth-child(3) { display: none; }
  /* line 18, scss/src/coke_01_mobile.scss */ .story_link { margin-top: 15px; }
  /* line 19, scss/src/coke_01_mobile.scss */ .story_link > li:last-child { display: none; }
  /* line 20, scss/src/coke_01_mobile.scss */ .cs_wrap { overflow: hidden; }
  /* line 21, scss/src/coke_01_mobile.scss */ .cs_wrap > li { width: 250px; height: 250px; }
  /* line 22, scss/src/coke_01_mobile.scss */ .cs_wrap > li:nth-child(2) { display: none; }
  /* line 23, scss/src/coke_01_mobile.scss */ .cs_wrap > li:nth-child(3) { display: none; }
  /* line 26, scss/src/coke_01_mobile.scss */ .company_area { padding: 50px 0; box-sizing: border-box; }
  /* line 27, scss/src/coke_01_mobile.scss */ .company_area > li { width: 210px; height: 120px; margin: 10px; }
  /* line 28, scss/src/coke_01_mobile.scss */ .company_area > li > a { margin: auto; }
  /* line 30, scss/src/coke_01_mobile.scss */ .sns_area { width: 1150px; height: 100%; margin: auto; padding: 10px; padding-left: 40px; }
  /* line 32, scss/src/coke_01_mobile.scss */ .sns_area .sns_big { display: none; }
  /* line 33, scss/src/coke_01_mobile.scss */ .sns_area dl { width: 150px; height: 200px; margin: 20px; }
  /* line 34, scss/src/coke_01_mobile.scss */ .sns_area dl dt { width: 30px; height: 30px; margin: auto; }
  /* line 35, scss/src/coke_01_mobile.scss */ .sns_area dl dd { width: 150px; height: 150px; }
  /* line 36, scss/src/coke_01_mobile.scss */ .sns_cont { float: left; } }

/* // media screen 모바일 */
