/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) h:900 */
@media screen and (min-width: 1920px) { .stbox ul li { width: 18.4%; height: 280px; margin: 0 2% 20px 0; }
  .stbox ul li:nth-child(3n) { margin-right: 2%; }
  .stbox ul li:nth-child(5n) { margin-right: 0; } }
