/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) h:900 */
@media screen and (min-width: 1920px) { #allStory { width: 80%; height: auto; min-height: 500px; margin: auto; }
  #allStory ul { width: 100%; height: auto; }
  #allStory ul li { float: left; width: 18.4%; height: 350px; margin: 0 2% 20px 0; }
  #allStory ul li:nth-child(3n) { margin-right: 2%; }
  #allStory ul li:nth-child(5n) { margin-right: 0; } }
